/* Справочник */
.administrator_ref{
    &__container{
        height: 100%;
    }
}

.administrator_card{
    width: 800px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    &__content{
        height: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    &__frame{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        height: 100%;
    }
    &__fields{
        display: grid;
        grid-template-columns: repeat(24, 1fr);
        row-gap: 10px;
    }
    &__fields label{
        grid-column: 1;
    }

    &__fields .card__record{
        grid-column: 3/25;
    }

    &__fields input{
        grid-column: 3/25;
    }
    
    &__fields select{
        grid-column: 3/10;
        background-color: white;
    }
    &__information_systems{
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: stretch;
        margin-top: 20px;
    }
    &__information_systems_container{
        height: 100%;
    }

}

#administrator_card{
    &__information_systems_table td{
        background-color: inherit;
    }
    &__information_systems_table input{
        border: none;
        width: 100%;
        background-color: inherit;
    }
    &__information_systems_table select{
        border: none;
        background-color: inherit;
    }
}

#administrator_ref__dialog_content{
    height: 100%;
}

.administrator_search{
    &__content{
        padding:20px 10px 10px 10px;
    }
    &__fields{
        display: grid;
        row-gap: 10px;
        grid-template-columns: repeat(24,1fr);
    }
    &__fields label{
        grid-column: 1;
    }

    &__fields .card__record{
        grid-column: 5/24;
    }

    
    &__fields select{
        grid-column: 5/13;
        background-color: white;
    }
}



