@font-face {
    font-family: 'Roboto', sans-serif ;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    src: url(../fonts/Roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(../fonts/Montserrat/static/Montserrat-Bold.ttf);
    src: url(../fonts/Montserrat/static/Montserrat-Medium.ttf);
    src: url(../fonts/Montserrat/static/Montserrat-Light.ttf);
}