
.organisation{
    width: 800px;
    &__fields{
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 15px;
    }
    &__fields label{
        grid-column: 1;
    }

    &__fields textarea{
        grid-column: 3/13;
    }
}




#organisation__briefName{
    grid-column: 3/13;
}

#organisation__inn,
#organisation__kpp,
#organisation__ogrn,
#organisation__email{
    grid-column: 3/7;
}

#organisation__kpp_label,
#organisation__okpo_label,
#organisation__state_label{
    grid-column: 8;
}

#organisation__kpp,
#organisation__okpo,
#organisation__state{
    grid-column: 9/13;
}