/* Класс справочник*/
.reference{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    &__title{
        font-size: 20px;
        font-weight: 400;
        color: rgba(64, 145, 221, 0.959);
        margin-bottom: 20px;
        width: 100%;
    }

    &__buttons{
        /*margin: 10px 0;*/
        background-color: $reference_action_button_background;
        display: flex;
        align-items: center;
    }
    &__content{
        padding: 10px;
    }

    &__container{
        height: 100%;
    }
    
    &__button{
        border-radius: 5px;
        padding: 5px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        background-color:  $reference_action_button_background;
        color: black;
        display: flex;
        align-items: center;
    }

    &__button_select{
        background-color: blue !important;
        color: white !important;
    }
    &__button img{
        width: 25px;
        margin-right: 5px;
    }

    &__button:disabled{
        color: #888;
    }

    &__button:not([disabled]):hover{
        background-color: rgb(201, 226, 247);
    }
    

    &__table{
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: $is_table_font-size;
        width: 100%;
        border-collapse: collapse;
    }
    &__table th{
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }
    &__table th,
    &__table td{
        background-color: inherit;
        border: 1px solid black;
        
    }
    &__table td{
        text-align: center;
        //padding: 0 5px;
        cursor: pointer;
    }

    &__table tbody tr:hover{
        border: 2px solid gray;
    }

    &__table tbody td ref_record{
        width: 100%;
    }

    
    
    &__table td input{
        border: none;
        width: 100%;
        background-color: inherit;
    }

    &__table td select{
        border: none;
        width: 100%;
    }
}

.ref_record{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    &__input{
        border: none;
        outline: none;
        width: 100%;
    }
    &__button{
        padding-left: 5px;
        width: 23px;
        cursor: pointer;
        /*border: thin dotted #888;*/
    }
}

/*
.ref_record__button{
    
}

.ref_record input{
    border: none;
    outline: none;
    width: 100%;
}*/



.bg_blue{
    background-color: lightblue
}
.bg_green{
    background-color: rgb(177, 247, 177);
}
.bg_red{
    background-color: red;
}
.bg_orange{
    background-color: orange;
}

.highlight{
    background-color: lightblue;
}