@import 'reset';
@import 'vars';
@import 'card_is';
@import 'reference';
@import 'card';
@import '_administrator_card';
@import '_contract_card';
@import '_organisation_card';
@import '_organisation_ref';
@import '../plugins/tables_context_menu/context_menu.scss';

 html, body, .wrapper{
    height: 100%;
    width: 100%;
    padding: 5px;
}

.wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
}


.header{
    display: flex;
    margin-bottom: 10px;
}

.logo__img{
    width: 320px;
}
.main_menu{
    position: relative;
    margin-left: 100px;
    &__list{
        display: flex;
    }
    &__item{
        margin: 0 10px;
        font-size: 22px;
        color: black;
        cursor: pointer;
    }
    &__item:hover{
        color: cornflowerblue;
    }

    &__link:hover{
        color: red;
        transition: 40ms;
    }
}


.submenu{
    position: absolute;  
    border: 2px solid gray;
    background-color: white;
    /*box-shadow: #888;*/
    z-index: 2;

    &__item{
        margin: 5px 0;
        padding: 0 5px;
        display: flex;
        white-space: nowrap;
    }
    &__item:hover{
        background-color: lightskyblue;
    }
    &__link{
        text-decoration: none;
        font-size: 20px;
        color: black;
    }
}

#sm_references{
    display: none;
}

#sm_help{
    display: none;
}

.main_menu__item:hover #sm_references{
    display:flex;
}

.main_menu__item:hover #sm_help{
    display:flex;
}






.user{
    display: flex;
    margin: 0 20px 0 auto;
    align-items: center;
    cursor: pointer;
    &__img{
        width: 50px;
        margin-right: 5px;
    }
    &__text{
        font-size: 18px;
    }
    &__text:hover{
        text-decoration: underline;
        color: blue;
        transition: 40ms;
    }
}

.main{
    display: flex;
    align-items: stretch;
    /*height: calc(100% - 100px);*/

}

.content{
    width: 100%;
}

.footer{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
}
