
@import 'reset';
@import 'vars';
@import 'fonts';
@import 'reference';
@import 'dialog.scss';
@import '../plugins/tables_context_menu/context_menu.scss';
@import '../inc/information_system/information_system.scss';
@import '../inc/document_kind/document_kind.scss';
@import '../inc/administrator/administrator.scss';
@import '../inc/organisation/organisation.scss';
@import '../inc/department/department.scss';
@import '../inc/contract/contract.scss';
@import '../inc/employeer/employeer.scss';
@import '../inc/about/about.scss';
@import '../inc/version/version.scss';
@import '../inc/document/document';

 html, body, .wrapper{
    height: 100%;
    width: 100%;
    padding: 5px;
}



.wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: black;
}



.header{
    display: flex;
    margin-bottom: 10px;
}

.logo__img{
    width: 320px;
}
.main_menu{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: gray;
    position: relative;
    margin-left: 100px;
    &__list{
        display: flex;
    }
    &__item{
        margin: 0 10px;
        font-size: 24px;
        color: black;
        cursor: pointer;
    }
    &__item:hover{
        color: cornflowerblue;
    }

    &__link:hover{
        color: red;
        transition: 40ms;
    }
}


.submenu{
    display: none;
    position: absolute;   
    border: 1px solid gray;
    box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);
    background-color: white;
    border-radius: 5px;
    /*box-shadow: #888;*/
    z-index: 3;

    &__item{
        margin: 5px 0;
        padding: 0 5px;
        display: flex;
        white-space: nowrap;
    }
    &__item:hover{
        background-color: lightskyblue;
    }
    &__link{
        text-decoration: none;
        font-size: 20px;
        color: black;
    }
}

#sm_references{
    display: none;
    left: 255px;
    top: 25px;
}

#sm_help{
    display: none;
    left: 430px;
    top: 25px;
}

.search{
    display: flex;
    align-items: center;
    height: 25px;
    margin: 10px 20px 0 auto;
    &__img{
        margin-right: -20px;
        height: 20px;
        z-index: 2;
    }
    &__text{
        padding-left: 20px;
    }
    &__delimiter{
        display: block;
        font-size: 24px;

    }
    &__finish_buttons{
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: white;
        margin: 20px 0;
        gap: 20px;
    }
    &__finish_button{
        width: 100px;
    }
}

.user{
    display: flex;
    margin: 0 20px 0 0;
    align-items: center;
    cursor: pointer;
    &__img{
        width: 50px;
        margin-right: 5px;
    }
    &__text{
        font-size: 18px;
    }
    &__text:hover{
        text-decoration: underline;
        color: blue;
        transition: 40ms;
    }
    &__context{
        position: absolute;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 18px;
        background-color: white;
        padding: 0 5px;
        left: 0;
        top: 0;
        display: none;
        border: 1px solid #888;
        box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.55);
        border-radius: 5px;
    }
    &__context_item{
        margin: 5px 0px;
        cursor: pointer;
    }
    &__context_item:hover{
        background-color: lightskyblue;
    }
}

.main{
    display: flex;
    align-items: stretch;
    height: 100%;

}

.content{
    width: 100%;
}

.footer{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.gray_border{
    border: thin solid#888;
}

.red_border{
    border: thin solid red;
}

/* Поле с выбором из справочника на карточке*/
.card__record{
    width: 100%;
    display: flex;
    padding: 0;
    border: thin solid #888;
}

.card__record input{
    border: none;
    width: 100%;
}


.card_record__button{
    border: thin dotted #888;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    cursor: pointer;
}


/* Группа документы*/
.attacments{
    flex: 1;
    background-color: white;
    /*align-items: stretch;*/
    /*border: thin solid black;*/
    &__title{
        font-weight: bold;
        padding: 5px;
        font-size: 18px;
    }
    &__list{
        margin: 5px;
    }
    &__item{
        margin: 5px 0;
    }
    &__item:hover{
        background-color: lightblue;
    }
    &__link{
        display: flex;
        align-items: center;
    }
    &__ico{
        width: 32px;
        margin-right: 10px;
    }
    &__name_item{
        color: black;
        font-size: 18px;
    }
}

.hide{
    display: none;
}

input{
    //margin: 5px 0;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    grid-column: 5/24;
}

input:focus{
    border-bottom: 2px solid #13406d;
}

textarea:focus{
    border: 2px solid rgb(175, 171, 171);
}

select{
    //margin: 5px 0;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    //grid-column: 5/24;
}

select:focus{
    border-bottom: 2px solid #13406d;
}

