/* Справочник */
.employee_ref{
    &__container{
        height: 100%;
    }
}

/* Карточка документа */
.employee_card{ 
    padding: 10px;  
    display: flex;
    flex-direction: column;
    align-items: start;
    /*margin-right: 10px;*/
    height: 100%;
    &__top{
        display: flex;
        flex-direction: row;
        align-items: start;
    }
    &__top_left{
        display: flex;
        flex: 1;
        margin-right: 15px;
    }
    &__top_right{
        display: grid;
        grid-template-columns: repeat(24,1fr);
        row-gap: 15px;
        flex: 4;
    }
    &__bottom{
        margin-top: 20px;
        display: grid;
        flex-direction: row;
        grid-template-columns: repeat(24,1fr);
        row-gap: 15px;    
    }

    &__top_right label{
        grid-column: 1;
    }
    &__top_right input{
        grid-column: 3/25;
    }
    &__top_right select{
        grid-column: 3/15;
        background-color: white;
    }
    &__bottom label{
        grid-column: 1;
    }
    &__bottom .card__record{
        grid-column: 3/25;
    }
}

.employee_card label{
    color: #2778f1;
}

#employee_card{
    &__login, &__email, &__lastname, &__middlename{
        grid-column: 3/11;
    }
    &__role_label, &__state_label, &__firstname_label, &__password_label{
        grid-column: 12/15;
    }   
    &__role, &__state{
        grid-column: 16/25;
        background-color: white;
    } 

    &__firstname, &__password{
        grid-column: 16/25;
    }
} 

#employee_ref{
    &__dialog_content{
        height: 100%;
    }
}
    

.employee_search{
    &__content{
        padding:20px 10px 10px 10px;
        font-size: 18px;
        display: flex;
        flex-direction: column;
    }
    &__fields{
        display: grid;
        grid-template-columns: repeat(24,1fr);
        gap: 10px;
        margin-bottom: 20px;
    }

    &__fields label{
        grid-column: 1;
        font-weight: bold;
    }

    &__fields input{
        grid-column: 3/24;
    }

    &__fields input[type="date"]{
        grid-column: 3/16;
    }
    &__fields .card__record{
        grid-column: 3/24;
    }

    &__fields select{
        grid-column: 3/16;
        background-color: white;
    }
}

.change_password_card{
    display: flex;
    flex-direction: column;
    
    &__form{
        margin-top: 20px;
        display: grid;
        row-gap: 15px;
        grid-template-columns: repeat(24,1fr);
    }

    &__form label{
        grid-column: 1;
    }

    &__form input{
        grid-column: 3/25;
    }

    &__buttons{
        display: flex;
        margin-top: 25px;
        justify-content: center;
    }

    &__button:first-child{
        margin-right: 20px;
    }
    &__button{
        width: 100px;
    }

}







