#organisation_ref__dialog_window{
    width: 800px;
    height: 550px;
}


.organisation_card{
    &__fields{
        display: grid;
        grid-template-columns: repeat(24, 1fr);
        gap: 15px;
    }
    &__fields label{
        grid-column: 1/7;
    }

    &__fields textarea{
        grid-column: 7/25;
    }
    &__fields input{
        grid-column: 7/25;
        outline: none;
    }
    &__fields select{
        grid-column: 8/9;
        background-color: white;
        border: thin solid gray;
    }

    &__fields #organisation_card__inn,
    &__fields #organisation_card__ogrn,
    &__fields #organisation_card__email{
        grid-column: 7/15;
    }
    
    &__fields #organisation_card__kpp_label,
    &__fields #organisation_card__okpo_label,
    &__fields #organisation_card__state_label{
        grid-column: 16;
    }

    &__fields #organisation_card__kpp,
    &__fields #organisation_card__okpo,
    &__fields #organisation_card__state{
        grid-column: 17/25;
    }


}


