/* Справочник */
.information_system{
    &__reference_container{
        height: 100%;
    }
}

/* Карточка документа */
.information_system_card{   
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /*margin-right: 10px;*/
    background-color: rgb(235, 235, 235);
    height: 100%;
    &__frame{
        display: flex;
        flex-direction: row;
        height: 100%;
    }
    &__content{
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        height: 100%;
        margin-right: 5px;
        flex: 5;
    }
    
    /* Вкладка - Общая */
    &__general{
        margin-top: -1px;
        display: flex;
        flex-direction: column;
        /*border: thin solid black;*/
        padding: 5px;
    }
    &__general_top{
        display: flex;
    }
    &__general_admins{
        margin-left: 20px;
        margin-right: 15px;
        width: 100%;
        flex: 1;
    }
    /* Основные поля общей вкладки */
    &__general_fields{
        flex: 1;
        display: grid;
        font-size: 16px;
        grid-template-columns: repeat(24,1fr);
        gap: 10px;
        align-items: center;
        padding: 5px;
        margin-top: -1px;
        background-color: $main_tabs_hilighted_tabs
    }
    &__general_fields label{
        grid-column: 1;
    }

    &__general_fields textarea,
    &__general_fields input{
        grid-column: 2/25;
        outline: none;
    }

    &__general_fields select{
        background-color: white;
        /*border: thin solid gray;*/
    }

    &__general_fields input[type=checkbox]{
        grid-column: 2;
    }

    &__developpers_table_row{
        cursor: pointer;
    }
    
    /* Вкладка - Замечания по аттестации */
    &__remarks{
        height: 100%;
        margin-top: -1px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        /*border: thin solid black;*/
        padding: 0 5px;
    }
    /* Таблица вкладки - Замечания по аттестации */
    &__remarks_container{
        height: 100%;
    }
    &__remarks_table{
        margin-top: 20px;
        width: 100%;
        font-size: $is_table_font-size;
    }
    &__remarks_table, th,td{
        border: thin solid black;
        border-collapse: collapse;
    }
    &__remarks_table td{
        text-align: center;
        padding: 0;
    }

    &__remarks_table td input{
        outline: 0px solid transparent;
        border: none;
    }

    &__remarks_table td select{
        background-color: white;
        width: 100%;
        height: 100%;
        border:none;
    }

    [contenteditable] {
        outline: 0px solid transparent;
    }

    /* Вкладка - Контракты */
    &__contracts{
        margin-top: -1px;
        /*border: thin solid black;*/
        padding: 5px;
    }

    /* Вкладка - Архив */
    &__archive{
        display: flex;
        flex-direction: column;
        margin-top: -1px;
        /*border: thin solid black;*/
        padding: 5px;
    }

}


/*Поле с выбором из справочника*/
.refRecord{
    display: flex;
    align-items: center;
    width: 100%;
    &__field{
        width: 100%;
        height: 30px;
        border: none;
    }
    &__button{
        border: thin dotted black;
        width: 30px;
        height: 30px;
        padding: 5px;
        cursor: pointer;
    }
}

/* КНОПКИ ДЕЙСТВИЯ С ЗАПИСЬЮ */
.finish_buttons{
    margin: 20px auto;
    display: flex;
    justify-content: center;
    background-color: white;
}

.finish_buttons__button{
    width: 100px;
    height: 30px;
    margin-right: 50px;
}




/* Панель вкладок */
.main_tabs{
    display: flex;
    /* Отдельная вкладка*/
    &__item{
        margin-bottom: 5px;
        padding: 10px 20px;
        cursor: pointer;
        z-index: 2;
    }

    &__item a{
        color: black;
    }

    &__item::after{
        content: '';
        border-bottom: 2px solid #13406d;
    }
    /* Класс для обозначения выделенной вкладки*/
    &__highlighted{
        border-bottom: thin solid white;
        background-color: $main_tabs_hilighted_tabs;
        position: relative;
    }

    &__highlighted::after{
        content: '';
        position: absolute;
        left: 0;
        top: 40px;
        border-bottom:2px solid  #13406d;
        width: 100%;
    }

}

#information_system_ref__dialog_content{
    height: 100%;
}

/* Расположение элементов вкладки - Общая*/



/* Кнопка начать аттестацию*/
#start_certification_button{
    font-size: 16px;
    grid-column: 20/25;
    width: 200px;
    justify-self: end;
}

#information_system_card__scope{
    grid-column: 2/9;
}

#information_system_card__significance_level_title{
    grid-column: 10/22;
}

#information_system_card__significance_level{
    grid-column: 22/25;
    justify-self: end;
}

#information_system_card__certified_title,
#information_system_card__has_remark_title{
    grid-column: 3/10;
}

#information_system_card__certifyDate_title,
#information_system_card__commissioningDate_title,
#information_system_card__state_title{
    grid-column: 10/18;
}

#information_system_card__certifyDate,
#information_system_card__commissioningDate,
#information_system_card__state{
    grid-column: 19/25;
}


/* Расположение элементов. Вкладка - Замечания по аттестации*/
#information_system_card__remarkDate{
    width: 100%;
    border: none;
}

#information_system_card__remarkEliminated{
    width: 100%;
    background-color: white;
}



#information_system_card__developper{
    grid-column: 2/25;
}

#information_system_card__developper input{
    width: 100%;
    border: none;
    outline: none;

}

.information_system_search{
    &__content{
        padding:20px 10px 10px 10px;
        font-size: 18px;
        display: flex;
        flex-direction: column;
    }
    &__fields{
        display: grid;
        grid-template-columns: repeat(24,1fr);
        gap: 10px;
        margin-bottom: 20px;
    }

    &__fields label{
        grid-column: 1/9;
        font-weight: bold;
    }

    &__fields input{
        grid-column: 10/24;
    }

    


    &__fields select{
        grid-column: 10/15;
        background-color: white;
    }
}

#information_system_search__significance_level,
#information_system_search__certified,
#information_system_search__has_remark{
    grid-column: 10/12;
}

#information_system_search__certifyDateFromLabel,
#information_system_search__commissioningDateFromLabel{
    grid-column: 10;
}

#information_system_search__certifyDateFrom,
#information_system_search__commissioningDateFrom{
    grid-column: 11/16;
}

#information_system_search__certifyDateToLabel,
#information_system_search__commissioningDateToLabel{
    grid-column: 17;
}

#information_system_search__certifyDateTo,
#information_system_search__commissioningDateTo{
    grid-column: 18/24;
}

#information_system_card__remarks_table tbody input,
#information_system_card__remarks_table tbody select
{
    background-color: inherit;
}





