.appdialog {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    
    &__window{
        position: absolute;
        background-color: #fefefe;
        //margin: auto;
        width: 500px;
        padding: 0;
        border: 1px solid #888;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    }

    &__header{
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 0 5px;
        background: linear-gradient(90deg, rgba(12,166,240,1) 0%, rgba(0,212,255,1) 50%);
    }

    &__header_title{
        color: white;
        font-size: 24px;
    }
    /* Кнопка Закрыть в шапке модального окна*/
    &__header_close{
        color: black;
        font-size: 24px;
    }
    &__content{
        padding: 0 5px;
        background-color: #fefefe;
        height: 100%;
    }

    &__content_text{
        margin: 20px 0;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 22px;
    }

    /* &__finish_buttons{
        padding-top: 20px;
        display: flex;
        width: 250px;
        background-color: red;
        margin: auto auto 40px auto;
        justify-content: space-between;
    }
    &__finish_button{
        font-size: 18px;
        width: 100px;
        margin: 0 auto;
    } */
    &__notify_button{
        margin: 0 auto;
        width: 120px;
    }
}