/*#is_card__notif_window{
    width: 500px;
    height: 250px;
}*/

.about_card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px 0;
}
.about_card h1{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin: 0 auto;
}
.about_card p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin:  0 auto;
}