.about_card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    &__info{
        width: 70%;
        display: flex;
        flex-direction: column;  
        margin: 0 auto;     
    }

    &__info p{
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 20px;
    }
}
.about_card h1{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: blue;
    margin: 20px auto;  
}

.about_card button{
    margin: 20px auto;  
    width: 100px;

}