/* Справочник */
.organization_ref{
    &__container{
        height: 100%;
    }
}
.organization_card{
    width: 800px;
    height: 180px;
    &__content{
        padding: 20px;
    }
    &__fields{
        display: grid;
        grid-template-columns: repeat(24, 1fr);
        gap: 15px;
    }
    &__fields label{
        grid-column: 1;
    }
    &__fields input{
        grid-column: 2/10;
        outline: none;
    }
    &__fields select{
        grid-column: 2/11;
        background-color: white;
        border: thin solid gray;
    }
    &__fields textarea{
        grid-column: 2/25;
    }
}

#organization_card{
    &__briefName{
        grid-column: 2/25;
    }
    &__boss{
        grid-column: 2/25;
    }
    &__kpp_label{
        grid-column: 11/14;
    }
    
    &__kpp{
        grid-column: 14/25;
    }
    &__okpo_label{
        grid-column: 11/14;
        }
        
    &__okpo{
        grid-column: 14/25;
    }
}

/*#organization_card__fullName
{
    grid-column: 5/25;
}*/

.organization_search{
    &__content{
        padding:20px 10px 10px 10px;
    }
    &__fields{
        display: grid;
        grid-template-columns: repeat(24,1fr);
    }

    &__fields label{
        grid-column: 1;
    }

    &__fields input{
        margin: 5px 0;
        border: none;
        border-bottom: 1px solid gray;
        outline: none;
        grid-column: 3/24;
    }
    &__fields input:focus{
        border-bottom: 2px solid #13406d;
    }
    &__fields select{
        margin: 5px 0;
        border: none;
        border-bottom: 1px solid gray;
        outline: none;
        grid-column: 5/10;
        background-color: white;
    }
    &__fields select:focus{
        border-bottom: 2px solid #13406d;}
}