/* Справочник */
.document_ref{
    &__container{
        height: 100%;
    }
}

/* Карточка документа */
.document_card{   
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /*margin-right: 10px;*/
    background-color: rgb(235, 235, 235);
    height: 100%;
    &__frame{
        display: flex;
        flex-direction: row;
        height: 100%;
    }
}
    

.document_search{
    &__content{
        padding:20px 10px 10px 10px;
        font-size: 18px;
        display: flex;
        flex-direction: column;
    }
    &__fields{
        display: grid;
        grid-template-columns: repeat(24,1fr);
        gap: 10px;
        margin-bottom: 20px;
    }

    &__fields label{
        grid-column: 1;
        font-weight: bold;
    }

    &__fields input{
        grid-column: 3/24;
    }

    &__fields input[type="date"]{
        grid-column: 3/16;
    }
    &__fields .card__record{
        grid-column: 3/24;
    }

    &__fields select{
        grid-column: 3/16;
        background-color: white;
    }
}





